nav.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  background: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  position: relative;
}

.nav__header {
  display: flex;
  align-items: center;
  background-color: var(--ood-background);
  /* flex-grow: 1; */
}

.nav__hamburger {
  display: block;
}

button.nav__hamburger:hover {
  background-color: var(--ood-background);
}

.nav__children {
  display: none;
  flex-grow: 0;
  flex-direction: column;
  max-width: 100%;
  width: fit-content;
  background-color: var(--ood-background);
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
}

.nav__children--open {
  display: flex;
}

.nav__item {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  text-align: left;
}

.nav a.nav__item {
  text-decoration: none;
  color: var(--ood-text);
}

.nav a.nav__item:hover {
  text-decoration: none;
}
.nav a.nav__item:visited {
  color: var(--ood-text);
}

.nav__spacer {
  flex-grow: 1;
}

.nav__dropdown__content {
  display: none;
}

.nav__dropdown__button {
  display: flex;
  align-items: center;
}

.nav__dropdown__button:hover {
  background-color: inherit;
}

.nav__dropdown__content--open {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.nav__dropdown__button--open {
  /* background-color: var(--ood-shade); */
}

.nav__dropdown__chevron {
  transition: transform 0.2s ease-in-out;
}

.nav__dropdown__button--open .nav__dropdown__chevron {
  transform: rotate(180deg);
}

/* Media queries for desktop (<600px) */
@media screen and (min-width: 600px) {
  nav.nav {
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--ood-background);
  }

  .nav__spacer {
    flex-grow: 0;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__children {
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: none;
    position: initial;
    z-index: initial;
  }

  .nav a.nav__item:hover {
    background-color: var(--ood-shade);
  }

  .nav__dropdown {
    position: relative;
  }

  .nav__dropdown__content {
    /* display: none; */
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 10;
    background-color: var(--ood-background);
    min-width: 100%;
    padding-left: 0;
    width: max-content;
  }

  .nav__dropdown:hover > .nav__dropdown__button {
    background-color: var(--ood-shade);
  }

  button.nav__dropdown__button {
    height: 100%;
    cursor: auto;
  }

  .nav__dropdown__content .nav__dropdown > .nav__dropdown__content {
    top: 0;
    left: 100%;
  }

  .nav__dropdown:hover > .nav__dropdown__content {
    display: flex;
  }

  .nav__dropdown:hover > .nav__dropdown__button .nav__dropdown__chevron {
    transform: rotate(180deg);
  }
  .nav__dropdown__content .nav__dropdown__chevron {
    transform: rotate(270deg);
  }
  .nav__dropdown__content .nav__dropdown:hover .nav__dropdown__chevron,
  .nav__dropdown__content .nav__dropdown__button--open .nav__dropdown__chevron {
    transform: rotate(90deg);
  }
}
