nav.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  background: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.nav__header {
  display: flex;
  align-items: center;
  background-color: var(--ood-background);
  /* flex-grow: 1; */
}

.nav__hamburger {
  display: block;
}

button.nav__hamburger:hover {
  background-color: var(--ood-background);
}

.nav__children {
  display: none;
  flex-grow: 0;
  flex-direction: column;
  max-width: 100%;
  width: fit-content;
  background-color: var(--ood-background);
  /* position: absolute;
  left: 0;
  top: 100%;
  z-index: 10; */
}

.nav__children--open {
  display: flex;
}

.nav__item {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
}

.nav a.nav__item {
  text-decoration: none;
  color: var(--ood-text);
}

.nav a.nav__item:hover {
  text-decoration: none;
}
.nav a.nav__item:visited {
  color: var(--ood-text);
}

.nav__spacer {
  flex-grow: 1;
}

/* Media queries for desktop (<600px) */
@media screen and (min-width: 600px) {
  nav.nav {
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--ood-background);
  }
  .nav__spacer {
    flex-grow: 0;
  }
  .nav__hamburger {
    display: none;
  }

  .nav__children {
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: none;
  }

  .nav a.nav__item:hover {
    background-color: var(--ood-shade);
  }
}
