name: NPM Publish
permissions: read-all
on:
  release:
    types: [published]
jobs:
  npm-publish:
    runs-on: ubuntu-latest
    name: Publish Package
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci --include=dev
      - run: npm run build
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
